doctype html
html(lang="pt-br")
    head
        title Login
    body
        #container    
            input(type="text", name="email")
            input(type="text", name="passwd")
            input(type="button", value="Entrar")